@model int
@ViewData["Title"] = "404 Not Found Error"
<div class = "alert alert-danger">
        <h4>404 Not Found Error.</h4>
        <hr/>
        <h5>
                Company Profile with id = @Model cannot be found.
        </h5>
        <a asp-action="index" asp-controller="home" class="btn btn-outline-success" style="width:auto">Home Page</a>
</div>