@model int
@ViewData["Title"] = "Unable to process your request"
<div class = "alert alert-danger">
        <h4>Request Error.</h4>
        <hr/>
        <h5>
                Sorry, Unable to process your request.
        </h5>
        <a asp-action="index" asp-controller="home" class="btn btn-outline-success" style="width:auto">Home Page</a>
</div>