@{ ViewData["Title"] = "Edit Leave Balance";
	ViewData["body_class"] = "edit_leaveBalance";
	ViewData["form_class"] = "Update"; }


<!-- MAIN CONTENT AREA STARTS -->
<div class="col-12">
	<section class="box ">
		<header class="panel_header">
			<h2 class="title float-left">Basic Info</h2>
		</header>
		<div class="content-body">
			<div class="row">
				@Html.Partial("~/Views/LeaveBalance/_Form.cshtml")
			</div>
		</div>
	</section>
</div>
<!-- MAIN CONTENT AREA ENDS -->