
@{
	string view = ViewData["form_class"].ToString();
}
<form id="form_LeaveType" action="/LeaveTypes/1" accept-charset="UTF-8" method="post" novalidate="novalidate">
	<div class="col-12 col-md-9 col-lg-8">
		<div class="form-group">
			<label class="form-label">Name*</label>
			<span class="desc"></span>
			<div class="controls">
				<input class="form-control" type="text" id="leave_type_name">
			</div>
		</div>
		<div class="form-group">
			<label class="form-label" for="leave_type_short_code">Short Code *</label>
			<span class="desc"></span>
			<div class="controls">
				<input class="form-control" required="required" type="text" value="CL" id="leave_type_short_code" aria-required="true">
			</div>
		</div>
		<div class="form-group">
			<label class="form-label" for="leave_type_total_days">Total Days *</label>
			<span class="desc"></span>
			<div class="controls">
				<input class="form-control" required="required" type="number" value="12" id="leave_type_total_days" aria-required="true">
			</div>
		</div>
		<div class="form-group">
			<label class="form-label" for="leave_type_gender">Gender *</label>
			<span class="desc"></span>
			<div class="controls">
				<select class="form-control" id="leave_type_gender">
					<option selected="selected" value="Both">Both</option>
					<option value="Male">Male</option>
					<option value="Female">Female</option>
				</select>
			</div>
		</div>
		<div class="form-group">
			<label class="form-label" for="leave_type_marital_status">Marital Status *</label>
			<span class="desc"></span>
			<div class="controls">
				<select class="form-control" id="leave_type_marital_status">
					<option selected="selected" value="Both">Both</option>
					<option value="Single">Single</option>
					<option value="Married">Married</option>
				</select>
			</div>
		</div>
		<div class="form-group">
			<div class="form-check">
				<input class="form-check-input" type="checkbox" value="1" checked="checked"
					   id="leave_type_is_active">
				<label class="form-check-label" for="leave_type_is_active">Is Active</label>
			</div>
		</div>
	</div>
	<div class="col-12 col-md-9 col-lg-8 padding-bottom-30">
		<div class="text-left">
			<input type="submit" name="commit" value="Save" class="btn btn-primary" data-disable-with="Save">
				<a href="@Url.Action("List", "LeaveType")">
					<div type="button" class="btn">Cancel</div>
				</a>
		</div>
	</div>
</form>
